/* Add the Google Font link at the top of App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color:burlywood;
}

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Media query for responsiveness */
  @media screen and (max-width: 600px) {
    .app {
      padding: 10px;
    }
  }
  