.task-list {
    display: flex;
    flex-direction: column;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .task.completed {
    background-color: #d3ffd3;
  }
  