.task-content {
    flex: 1;
  }
  
  .task-actions {
    display: flex;
    align-items: center;
  }
  
  .btn-complete,
  .btn-unmark,
  .btn-delete {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-complete {
    background-color: #4caf50;
    color: white;
  }
  
  .btn-unmark {
    background-color: #f9c300;
    color: white;
  }
  
  .btn-delete {
    background-color: #f44336;
    color: white;
  }
  
  .btn-complete:hover,
  .btn-unmark:hover,
  .btn-delete:hover {
    opacity: 0.8;
  }
  
  /* Add this at the bottom of Task.css */
  .tick-icon {
    width: 20px;
    height: 20px;
    fill: #4caf50;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    animation: fadeIn 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 2;
    }
  }
  